.my_rockets_main_container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.my_rockets_main_container header {
  font-size: 2rem;
}

.list {
  list-style: none;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list li {
  border: 2px solid rgb(126, 122, 122);
  padding: 0.5em 0.2em;
}
